@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --font-quicksand: 'Quicksand', sans-serif;
    --text: #353535;
    --primary: #ecebf3;
    --secondary: #4c5454;
    --accent: #e09f3e;
    --accent-transparent: rgba(224, 159, 62, 0.9);
  }

  .font-quicksand {
    font-family: var(--font-quicksand);
  }

  .bg-fixed {
    background-attachment: fixed;
  }
}